@use "./base" as b;

.btn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.3em;
  padding: 0.8em 2.5em;
  color: var(--clr-neutral-off-white);
  background-color: var(--clr-primary-soft-red);
  margin-block-start: 1.5em;
  transition: background-color 200ms ease;

  &:hover,
  &:focus-visible {
    background-color: var(--clr-neutral-very-dark-blue);
  }
}
