@use "./base" as b;

body {
  width: min(90%, 1200px);
  margin-inline: auto;
}

// 3 column layout used in whole page
.grid {
  display: grid;
  gap: var(--grid-gap);

  @include b.respondToDesktop {
    grid-template-columns: repeat(3, 1fr);
  }
}

header {
  padding-block: 2.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  .logo {
    cursor: pointer;
  }
}

.nav {
  &__links {
    display: none;
    list-style: none;
    color: var(--clr-neutral-dark-grayish-blue);
    cursor: pointer;

    @include b.respondToDesktop {
      display: flex;
      gap: 2em;
    }
  }

  &__link {
    &:hover,
    &:focus-visible {
      color: var(--clr-primary-soft-red);
    }
  }
}

.nav__menu-icon {
  background-color: transparent;
  border: none;

  @include b.respondToDesktop {
    display: none;
  }
}

.main-article {
  display: grid;
  gap: var(--grid-gap);

  &__title {
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 1;
    margin-block-end: 1rem;
    color: var(--clr-neutral-very-dark-blue);
  }

  &__description {
    color: var(--clr-neutral-dark-grayish-blue);
  }

  @include b.respondToDesktop {
    grid-column: span 2;

    &__title {
      font-size: 3.2rem;
      margin: 0;
    }

    &__details {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--grid-gap);
    }
  }
}

.new-articles {
  margin-block: 2rem;
  background-color: var(--clr-neutral-very-dark-blue);
  color: var(--clr-neutral-off-white);
  padding: 1.2rem;

  &__title {
    text-transform: capitalize;
    font-size: 2rem;
    color: var(--clr-primary-soft-orange);
  }

  @include b.respondToDesktop {
    margin-block: 0;
  }
}

.new-article-card {
  padding-block: 1.6rem;

  &:not(:last-child) {
    border-bottom: 1px solid var(--clr-neutral-off-white);
  }

  &:last-child {
    padding-block-end: 0;
  }

  &__title {
    font-size: 1.4rem;
    margin-block-end: 0.4em;
    cursor: pointer;

    &:hover,
    &:focus-visible {
      color: var(--clr-primary-soft-orange);
    }
  }
}

.other-articles {
  margin-block: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));

  @include b.respondToDesktop {
    margin-block: 5rem 4rem;
  }
}

.other-article-card {
  // Not the same grid as the main layout grid
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 2fr;

  &__img {
    height: 100%;
    object-fit: cover;
  }

  &__title {
    font-size: 1.2rem;
    font-weight: 800;
    line-height: 1.2;
    color: var(--clr-neutral-very-dark-blue);
    margin-block-end: 0.5em;
    cursor: pointer;

    &:hover,
    &:focus-visible {
      color: var(--clr-primary-soft-red);
    }

    .title__number {
      display: block;
      font-size: 2rem;
      color: var(--clr-neutral-grayish-blue);
      margin-block-end: 0.5em;
      font-weight: 700;
    }
  }

  &__description {
    color: var(--clr-neutral-dark-grayish-blue);
  }
}
